header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: red;
   border-bottom: 15px solid yellow;
}


header nav a {
   font-family: Unbounded;
   font-size:120%;
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   color: black;
   text-decoration: none;
   padding: 1rem;
   border-radius: 2rem;
   transition: all .75s ease;
   


}

header nav a:hover {
   color: yellow;
   background-color: black;


}

header img {
   max-width: 100%;
   animation-name: slide-In;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-fill-mode: backwards;
   padding: 50px 0px 50px 80px;
   
   
}

@keyframes slide-In {
   0% {
      transform: translateX(70px);
      opacity: 0;
   }

   50% {
      opacity: 1;
   }
   
   100% {
   opacity: 1;
   transform: translateX(0);
 }
}


nav {
   text-transform: uppercase;
   font-size: 125%;
   font-weight: bold;
}

nav ul {
   display: flex;
   justify-content: space-between;
   margin: 50px 50px 50px 50px;
   padding: 0;
   color: yellow;
   align-items: end;
   
   
}

nav li {
   list-style-type: none;
}

nav a {
   padding: 1rem 3rem;
   text-decoration: none;
   color: black;
}

nav a:hover {
   background-color: red;
   color: yellow;
   border-radius: 20px;
}














aside.drivetime {
   padding: 1em;
   font-size: 170%;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 40px;
   margin-right: 40px;
   border: black;
   border-radius: 25px;
}

span.day {
   color: cornflowerblue;
   font-family: Unbounded;
   font-size: 200%;
   text-transform: uppercase;
   font-weight: normal;
   

}

aside {
   text-align: center;
   
}

aside h2 {
   font-size: 200%;
   padding: 100px;
   font-family: Jost;
   font-weight: bold;
   text-transform: uppercase;
   color: red;
}

aside.p {

}

.market {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column: 1/2;
   
}

.market h2{
   grid-column:1/4;
   grid-row: 1/2;
   font-size: 350%;
   margin: 20px 0 20px 20px;
   font-family:Unbounded;
   font-weight: normal;
   border-bottom: 15px solid red;
   text-align: center;
   
}

.market p {
   grid-column:1/4;
   grid-row: 1/2;
   padding: 100px 30px 30px 30px;
   font-size: 130%;
   font-family: Unbounded;
   line-height: 2.5;
   text-align: center;
}

.market img {
   grid-column: 1/4;
   margin: 50px 50px 50px 50px;
   column-span: all;
   align-items: center;
}

.hero {
   max-width: 100%;


}
   


.Amenities {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.Amenities li {
   grid-column:1/4;
   margin: 30px 30px 30px 50px;
   font-size: 130%;
   font-family: Unbounded;
   line-height: 1.5;
   border-right: 15px;
   text-align: center;
   list-style-type: none;

}

.Amenities h3 {
   grid-column:1/4;
   grid-row: 1/2;
   font-size: 300%;
   font-family:Unbounded;
   font-weight: normal;
   margin: 20px 0 20px 20px;
   text-align: center;
   border-top: 15px solid red;
   padding: 50px 0 0 0;
}



main {
   background-color: yellow;
}



footer {
   background-color: red;
}

.drivetime {
   font-family: Jost;
}

iframe {
   min-width: 100%;
}

.food {
  
   font-size: 350%;
   margin: 20px 0 20px 20px;
   font-family: Unbounded;
   font-weight: normal;
   text-align: center;
}

.h3h3 {
   font-size: 200%;
   font-family: Unbounded;
   margin: 20px 0 20px 20px;

}

.directions {
   grid-column:1/4;
   grid-row: 1/2;
   font-size: 350%;
   margin: 20px 0 20px 20px;
   font-family: Unbounded;
   font-weight: normal;
   text-align: center;
}

.grillmenu {
   font-family: Jost;
   text-align: center;
   font-size: 170%;
}
.foodp {
   margin: 20px 0 20px 20px;
   font-size: 200%;
   font-family: jost;
   text-align: center;
}

.h4h4 {
   font-size: 120%;
   font-family: Unbounded;
   margin: 20px 0 20px 20px;

}

.flavors {
   font-size: 120%;
   font-family: Unbounded;
   margin: 20px 0 20px 40px;
}

.contp {
   font-size: 120%;
   font-family: Unbounded;
   padding: 90px;
}








